.wiki-container {
  display: flex;
  min-height: calc(100vh - 70px); // Account for header
  position: sticky;
}

.wiki-sidebar {
  width: 300px;
  background-color: var(--color-slate);
  border-right: 1px solid var(--color-gold);
  overflow-y: auto;
  transition: transform 0.3s ease;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  
  @media (max-width: 768px) {
    position: fixed;
    z-index: 100;
    transform: translateX(-100%);
    
    &.open {
      transform: translateX(0);
    }
  }
}

.wiki-content {
  flex: 1;
  padding: var(--spacing-lg);
  
  @media (max-width: 768px) {
    width: 100%;
  }
}

.sidebar-toggle {
  position: fixed;
  top: 83px;
  left: 10px;
  z-index: 101;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-gold);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--shadow-md);
  border: none;
  
  @media (min-width: 769px) {
    display: none;
  }
  
  .toggle-icon {
    position: relative;
    width: 20px;
    height: 2px;
    background-color: var(--color-dark);
    transition: all 0.3s ease;
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: var(--color-dark);
      transition: all 0.3s ease;
      left: -5px; // Déplace légèrement les pseudo-éléments vers la gauche
    }
    
    &::before {
      transform: translateY(-6px);
    }
    
    &::after {
      transform: translateY(6px);
    }
    
    &.open {
      background-color: transparent;
      
      &::before {
        transform: rotate(45deg);
      }
      
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}