<div class="zone-detail" *ngIf="zone">

  <div class="zone-header">
    <h1>Zone n°{{ zone.id }} : {{ zone.name }}</h1>
    <div class="zone-info">
      <p class="zone-description">{{ zone.description }}</p>
    </div>

    <div class="zone-image">
      <img [src]="zone.imageUrl" [alt]="zone.name">
    </div>
  </div>

  <div class="zone-content">
    <div class="monsters-section">
      <h2>Informations sur la zone</h2>
      <span class="zone-level">Niveau recommandé : {{ zone.recommendedLevel }}</span>
      <span class="zone-level">Difficulté de la zone : {{ zone.difficulty }}</span>
      <p>{{ zone.description }}</p>
      <div class="zone-unlock">
        <mat-icon>lock</mat-icon>
        Déblocage : {{ zone.unlock }}
      </div>
    </div>
  </div>

  <div class="zone-content">
    <div class="monsters-section">
      <h2>Monstres à l'extérieur</h2>
      <div class="monsters-grid">
        @for (mob_outside of zone.mobs_outside; track mob_outside.id) {
        <a class="monster-card" [routerLink]="['/wiki/world/monsters', mob_outside.id]">
              <div class="monster-image">
                <img src="assets/images/mobs/images.jpg" alt="Monster">
              </div>
              <div class="monster-name">Nom du monstre</div>
            </a>
        }
      </div>
    </div>

    <!-- <div class="dungeon-section" *ngIf="zone.dungeon">
      <h2>Donjon</h2>
      <div class="dungeon-card">
        <h3>{{ zone.dungeon.name }}</h3>
        <p>Niveau minimum: {{ zone.dungeon.minLevel }}</p>
        <a [routerLink]="['/wiki/world/monsters', zone.dungeon.bossId]" class="boss-link">
          Voir le boss
        </a>
      </div>
    </div> -->

    <!-- <div class="items-section" *ngIf="zone.items.length">
      <h2>Objets de la zone</h2>
      <div class="items-grid"> -->
    <!-- <div class="item-card" *ngFor="let item of zone.items">
          <div class="item-rarity" [class]="item.rarity">{{ item.rarity }}</div>
          <h3>{{ item.name }}</h3>
          <p class="item-type">{{ item.type }}</p>
          <p class="set-name" *ngIf="item.setName">Set: {{ item.setName }}</p>
        </div> -->
    <!-- </div> -->
    <!-- </div> -->

    <!-- <div class="set-bonus-section" *ngIf="zone.setBonus"> -->
    <!-- <h2>Bonus de Set - {{ zone.setBonus.setName }}</h2> -->
    <!-- <p class="set-pieces">{{ zone.setBonus.pieces }} pièces requises</p> -->
    <!-- <ul class="set-effects">
        <li *ngFor="let effect of zone.setBonus.effects">{{ effect }}</li>
      </ul> -->
    <!-- </div> -->
  </div>