<div class="zones-container">
  <h1>Zones de Mobaria</h1>
  <p class="zones-description">
    Explore les différentes régions du monde, chacune avec ses propres défis,
    monstres et trésors à découvrir.
  </p>

  <div class="zones-grid">
    <!-- Zone 1: Paysan -->
    @for (zone of zones; track zone.id) {
    <a class="zone-card" [routerLink]="['/wiki/world/zones', zone.id]">
      <div class="zone-image">
        <img src="{{zone.imageUrl}}" alt="Zone image">
      </div>
      <div class="zone-content">
        <h2>{{zone.name}}</h2>
        <p class="zone-description">{{zone.description}}</p>
      </div>
      
      <div class="required-level" [ngClass]="{'hidden': zone.recommendedLevel === 0}">
        <span>Niveau recommandé : {{zone.recommendedLevel}}</span>
      </div>
    </a>
    }

  </div>
</div>